USE [master]
GO
/****** Object:  Database [FerreteriaLosHermanos]    Script Date: 22/6/2021 21:56:57 ******/
CREATE DATABASE [FerreteriaLosHermanos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FerreteriaLosHermanos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVIDOR\MSSQL\DATA\FerreteriaLosHermanos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FerreteriaLosHermanos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVIDOR\MSSQL\DATA\FerreteriaLosHermanos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FerreteriaLosHermanos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FerreteriaLosHermanos]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[BitacoraID] [int] IDENTITY(1,1) NOT NULL,
	[ActualizacionID] [int] NOT NULL,
	[Fecha] [date] NULL,
	[UsuarioID] [int] NOT NULL,
	[TablaModificada] [varchar](40) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[BitacoraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [nchar](25) NULL,
	[Descripcion] [nchar](100) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](100) NULL,
	[Direccion] [nchar](250) NULL,
	[Correo] [nchar](75) NULL,
	[Telefono] [nchar](8) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[EmpleadoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](100) NULL,
	[Direccion] [nchar](250) NULL,
	[Correo] [nchar](75) NULL,
	[FechaNacimiento] [date] NULL,
	[LocalID] [int] NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[EmpleadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
	[Impuesto] [int] NULL,
	[Subtotal] [int] NULL,
	[Total] [int] NULL,
	[LocalID] [int] NULL,
	[EmpleadoID] [int] NULL,
	[ClienteID] [int] NULL,
	[TipoDePagoID] [int] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[InventarioID] [int] IDENTITY(1,1) NOT NULL,
	[Stock] [int] NULL,
	[LocalID] [int] NULL,
	[ProductoID] [int] NULL,
 CONSTRAINT [PK_Inventarios] PRIMARY KEY CLUSTERED 
(
	[InventarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locales]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locales](
	[LocalID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](100) NULL,
	[Direccion] [nchar](250) NULL,
	[Telefono] [nchar](8) NULL,
	[Correo] [nchar](75) NULL,
 CONSTRAINT [PK_Locales] PRIMARY KEY CLUSTERED 
(
	[LocalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medidas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medidas](
	[MedidaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nchar](20) NULL,
 CONSTRAINT [PK_Medidas] PRIMARY KEY CLUSTERED 
(
	[MedidaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[PedidoID] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NULL,
	[Precio] [int] NULL,
	[TotalLinea] [int] NULL,
	[FacturaID] [int] NULL,
	[ProductoID] [int] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[PedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[ProvedorID] [int] NULL,
	[CategoriaID] [int] NULL,
	[MedidaID] [int] NULL,
	[Nombre] [nchar](45) NULL,
	[Precio] [int] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[ProveedorID] [int] IDENTITY(1,1) NOT NULL,
	[NombreProveedor] [nchar](100) NULL,
	[Direccion] [nchar](250) NULL,
	[Correo] [nchar](75) NULL,
	[Telefono] [nchar](8) NULL,
 CONSTRAINT [PK_Proveedores] PRIMARY KEY CLUSTERED 
(
	[ProveedorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAcceso]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAcceso](
	[AccesoID] [int] NOT NULL,
	[TipoAcceso] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoAcceso] PRIMARY KEY CLUSTERED 
(
	[AccesoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoActualizacion]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoActualizacion](
	[ActualizacionID] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TipoActualizacion] PRIMARY KEY CLUSTERED 
(
	[ActualizacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDeVenta]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDeVenta](
	[TipoVentaID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nchar](100) NOT NULL,
 CONSTRAINT [PK_TipoDeVenta] PRIMARY KEY CLUSTERED 
(
	[TipoVentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[AccesoID] [int] NULL,
	[EmpleadoID] [int] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([BitacoraID], [ActualizacionID], [Fecha], [UsuarioID], [TablaModificada]) VALUES (1, 1, CAST(N'2021-06-20' AS Date), 1, N'Locales')
INSERT [dbo].[Bitacora] ([BitacoraID], [ActualizacionID], [Fecha], [UsuarioID], [TablaModificada]) VALUES (2, 1, CAST(N'2021-06-20' AS Date), 1, N'Inventarios')
INSERT [dbo].[Bitacora] ([BitacoraID], [ActualizacionID], [Fecha], [UsuarioID], [TablaModificada]) VALUES (3, 1, CAST(N'2021-06-21' AS Date), 1, N'Clientes')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([CategoriaID], [NombreCategoria], [Descripcion]) VALUES (1, N'Armas de Supervivencia   ', N'Son armas tipo herramientas con el fin de utilizarlas para la vida en exteriores como en actividades')
INSERT [dbo].[Categorias] ([CategoriaID], [NombreCategoria], [Descripcion]) VALUES (2, N'Construcción             ', N'Materiales de construcción                                                                          ')
INSERT [dbo].[Categorias] ([CategoriaID], [NombreCategoria], [Descripcion]) VALUES (3, N'Herramientas             ', N'Herramientas del hogar                                                                              ')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([ClienteID], [Nombre], [Direccion], [Correo], [Telefono]) VALUES (1, N'Natalia Tijerno Vargas                                                                              ', N'Alajuela, el Coyol, Residencial Lomas 2000. Casa F3                                                                                                                                                                                                       ', N'tijerinonatalia@gmail,com                                                  ', N'85963211')
INSERT [dbo].[Clientes] ([ClienteID], [Nombre], [Direccion], [Correo], [Telefono]) VALUES (2, N'Marco Reveiz Rojas                                                                                  ', N'Heredia, Heredia. Frente al Automercado de Carretera a Barva. Residencial Villa Sole.                                                                                                                                                                     ', N'revvro@gmail.com                                                           ', N'85769188')
INSERT [dbo].[Clientes] ([ClienteID], [Nombre], [Direccion], [Correo], [Telefono]) VALUES (3, N'Margarita Benavides Vilchez                                                                         ', N'Heredia, Heredia. Frente al Automercado de Carretera a Barva. Residencial Villa Sole.                                                                                                                                                                     ', N'pitta5312@gmail.com                                                        ', N'89243230')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([EmpleadoID], [Nombre], [Direccion], [Correo], [FechaNacimiento], [LocalID]) VALUES (1, N'Juan Jose Tijerino Vargas                                                                           ', N'Alajuela, el Coyol, Residencial Lomas 2000. Casa F3                                                                                                                                                                                                       ', N'juanjotije@gmail.com                                                       ', CAST(N'2005-06-21' AS Date), 3)
INSERT [dbo].[Empleados] ([EmpleadoID], [Nombre], [Direccion], [Correo], [FechaNacimiento], [LocalID]) VALUES (2, N'Sebastian Lopez Herrera                                                                             ', N'En el restaurante Max Pollos                                                                                                                                                                                                                              ', N'thelopezepol@outlook.es                                                    ', CAST(N'2001-11-08' AS Date), 1)
INSERT [dbo].[Empleados] ([EmpleadoID], [Nombre], [Direccion], [Correo], [FechaNacimiento], [LocalID]) VALUES (3, N'Randall Brenes                                                                                      ', N'Apartamentos frente a las escaleres de la salida de buses del Tecnologico de Costa Rica                                                                                                                                                                   ', N'el_chiqui@gmail.com                                                        ', CAST(N'1985-02-02' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([FacturaID], [Fecha], [Impuesto], [Subtotal], [Total], [LocalID], [EmpleadoID], [ClienteID], [TipoDePagoID]) VALUES (1, CAST(N'2021-06-22' AS Date), 0, 0, 0, 1, 2, 2, 4)
INSERT [dbo].[Facturas] ([FacturaID], [Fecha], [Impuesto], [Subtotal], [Total], [LocalID], [EmpleadoID], [ClienteID], [TipoDePagoID]) VALUES (2, CAST(N'2021-06-22' AS Date), 0, 0, 0, 1, 2, 2, 1)
INSERT [dbo].[Facturas] ([FacturaID], [Fecha], [Impuesto], [Subtotal], [Total], [LocalID], [EmpleadoID], [ClienteID], [TipoDePagoID]) VALUES (3, CAST(N'2021-06-22' AS Date), 0, 0, 0, 1, 2, 2, 4)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventarios] ON 

INSERT [dbo].[Inventarios] ([InventarioID], [Stock], [LocalID], [ProductoID]) VALUES (1, 65, 1, 1)
INSERT [dbo].[Inventarios] ([InventarioID], [Stock], [LocalID], [ProductoID]) VALUES (2, 25, 2, 1)
INSERT [dbo].[Inventarios] ([InventarioID], [Stock], [LocalID], [ProductoID]) VALUES (3, 50, 3, 1)
SET IDENTITY_INSERT [dbo].[Inventarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Locales] ON 

INSERT [dbo].[Locales] ([LocalID], [Nombre], [Direccion], [Telefono], [Correo]) VALUES (1, N'Ferreteria Los Hermanos San Joaquin                                                                 ', N'Frente al restaurante Max Pollos, casa con porton negro.                                                                                                                                                                                                  ', N'20326566', N'flh_sanjoaquin@gmail.com                                                   ')
INSERT [dbo].[Locales] ([LocalID], [Nombre], [Direccion], [Telefono], [Correo]) VALUES (2, N'Ferreteria Los Hermanos Cartago Centro                                                              ', N'Esquina norte frente a las Ruinas de Cartago. Antiguo Almacen Jerusalem                                                                                                                                                                                   ', N'25258741', N'flh_cartagocentro@gmail.com                                                ')
INSERT [dbo].[Locales] ([LocalID], [Nombre], [Direccion], [Telefono], [Correo]) VALUES (3, N'Ferreteria Los Hermanos Coyol                                                                       ', N'Carretera Coyol, 200 mts este del Hotel de Paso Eros                                                                                                                                                                                                      ', N'25258744', N'flh_coyol@gmail.com                                                        ')
SET IDENTITY_INSERT [dbo].[Locales] OFF
GO
SET IDENTITY_INSERT [dbo].[Medidas] ON 

INSERT [dbo].[Medidas] ([MedidaID], [Nombre]) VALUES (1, N'Metros              ')
INSERT [dbo].[Medidas] ([MedidaID], [Nombre]) VALUES (2, N'Kilos               ')
INSERT [dbo].[Medidas] ([MedidaID], [Nombre]) VALUES (3, N'Litros              ')
SET IDENTITY_INSERT [dbo].[Medidas] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([PedidoID], [Cantidad], [Precio], [TotalLinea], [FacturaID], [ProductoID]) VALUES (7, 3, 11895, 35685, 8, 7)
INSERT [dbo].[Pedidos] ([PedidoID], [Cantidad], [Precio], [TotalLinea], [FacturaID], [ProductoID]) VALUES (8, 1, 7500, 7500, 9, 4)
INSERT [dbo].[Pedidos] ([PedidoID], [Cantidad], [Precio], [TotalLinea], [FacturaID], [ProductoID]) VALUES (9, 1, 15000, 15000, 9, 3)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([ProductoID], [ProvedorID], [CategoriaID], [MedidaID], [Nombre], [Precio]) VALUES (1, 1, 1, 7, N'Hacha de Madera                              ', 5000)
INSERT [dbo].[Productos] ([ProductoID], [ProvedorID], [CategoriaID], [MedidaID], [Nombre], [Precio]) VALUES (2, 1, 5, 2, N'Tronco de Madera                             ', 1000)
INSERT [dbo].[Productos] ([ProductoID], [ProvedorID], [CategoriaID], [MedidaID], [Nombre], [Precio]) VALUES (3, 3, 2, 7, N'Pico de Piedra                               ', 15000)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([ProveedorID], [NombreProveedor], [Direccion], [Correo], [Telefono]) VALUES (1, N'Maderas Roble                                                                                       ', N'500 mts este del restaurante El Roble, Heredia, Carrizal                                                                                                                                                                                                  ', N'maderasroble@hotmail.com                                                   ', N'23235964')
INSERT [dbo].[Proveedores] ([ProveedorID], [NombreProveedor], [Direccion], [Correo], [Telefono]) VALUES (2, N'Metales San Miguel                                                                                  ', N'Heredia, Barva, frente a la pizzeria La Dulce Habana. 100 mts este del parque de Barva                                                                                                                                                                    ', N'metalessm@gmail.com                                                        ', N'26272888')
INSERT [dbo].[Proveedores] ([ProveedorID], [NombreProveedor], [Direccion], [Correo], [Telefono]) VALUES (3, N'Herramientas Polo                                                                                   ', N'Alajuela, Alajuela, 100 mts este y 100 mts sur del Banco la Mutual.                                                                                                                                                                                       ', N'herramientaspolo@hotmail.com                                               ', N'23237796')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
INSERT [dbo].[TipoAcceso] ([AccesoID], [TipoAcceso]) VALUES (1, N'MASTER')
GO
INSERT [dbo].[TipoActualizacion] ([ActualizacionID], [Descripcion]) VALUES (1, N'AGREGAR')
INSERT [dbo].[TipoActualizacion] ([ActualizacionID], [Descripcion]) VALUES (2, N'MODIFICAR')
INSERT [dbo].[TipoActualizacion] ([ActualizacionID], [Descripcion]) VALUES (3, N'ELIMINAR')
GO
SET IDENTITY_INSERT [dbo].[TipoDeVenta] ON 

INSERT [dbo].[TipoDeVenta] ([TipoVentaID], [Descripcion]) VALUES (1, N'Sinpe Móvil                                                                                         ')
INSERT [dbo].[TipoDeVenta] ([TipoVentaID], [Descripcion]) VALUES (2, N'Tarjeta de Crédito                                                                                  ')
INSERT [dbo].[TipoDeVenta] ([TipoVentaID], [Descripcion]) VALUES (3, N'Tarjeta de Débito                                                                                   ')
SET IDENTITY_INSERT [dbo].[TipoDeVenta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [Nombre], [Contraseña], [AccesoID], [EmpleadoID]) VALUES (1, N'Master', N'admin12345', 1, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_TipoActualizacion] FOREIGN KEY([ActualizacionID])
REFERENCES [dbo].[TipoActualizacion] ([ActualizacionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_TipoActualizacion]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Locales] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Locales] ([LocalID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Locales]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([ClienteID])
REFERENCES [dbo].[Clientes] ([ClienteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Empleados1] FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Empleados1]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Locales1] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Locales] ([LocalID])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Locales1]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_TipoDeVenta] FOREIGN KEY([TipoDePagoID])
REFERENCES [dbo].[TipoDeVenta] ([TipoVentaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_TipoDeVenta]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_Inventarios_Locales1] FOREIGN KEY([LocalID])
REFERENCES [dbo].[Locales] ([LocalID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_Inventarios_Locales1]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_Inventarios_Productos1] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[Productos] ([ProductoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_Inventarios_Productos1]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Facturas] FOREIGN KEY([FacturaID])
REFERENCES [dbo].[Facturas] ([FacturaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Facturas]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Productos] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[Productos] ([ProductoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorias1] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categorias] ([CategoriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorias1]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Medidas1] FOREIGN KEY([MedidaID])
REFERENCES [dbo].[Medidas] ([MedidaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Medidas1]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores1] FOREIGN KEY([ProvedorID])
REFERENCES [dbo].[Proveedores] ([ProveedorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores1]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Empleados] FOREIGN KEY([EmpleadoID])
REFERENCES [dbo].[Empleados] ([EmpleadoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Empleados]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_TipoAcceso] FOREIGN KEY([AccesoID])
REFERENCES [dbo].[TipoAcceso] ([AccesoID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_TipoAcceso]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularSubTotalXFactura]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CalcularSubTotalXFactura] @FacturaID int
AS
BEGIN
    SELECT SUM(TotalLinea)
    FROM Pedidos
    WHERE FacturaID = @FacturaID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarBitacora]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarBitacora] @ID int

AS
BEGIN

DELETE FROM Bitacora
WHERE BitacoraID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCategorias]

@ID int

AS

DELETE FROM Categorias

WHERE CategoriaID = @ID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarClientes]

@ID int

AS

DELETE FROM Clientes

WHERE @ID = ClienteID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEmpleados]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarEmpleados]

@ID int

AS

DELETE FROM Empleados

WHERE @ID = EmpleadoID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarFacturas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarFacturas]
@ID int

AS

DELETE FROM Facturas

WHERE @ID = FacturaID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarInventarios]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarInventarios]

@ID int

AS

DELETE FROM Inventarios

WHERE @ID = InventarioID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarLocales]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarLocales]

@ID int

AS

DELETE FROM Locales

WHERE @ID = LocalID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarMedida]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarMedida]

@ID int

AS

DELETE FROM Medidas

WHERE MedidaID = @ID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPedidos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EliminarPedidos]
@ID int

AS

DELETE FROM Pedidos

WHERE @ID = PedidoID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProductos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProductos]

@ID int

AS

DELETE FROM Productos

WHERE ProductoID = @ID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProveedor]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProveedor]

@ID int

AS

DELETE FROM Proveedores

WHERE ProveedorID = @ID
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarTipoDeVenta]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarTipoDeVenta]
@ID int

AS

DELETE FROM TipoDeVenta

WHERE @ID = TipoVentaID
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarCategorias]

@nombre nchar(100), @descripcion nchar(100)

AS

INSERT INTO Categorias(NombreCategoria,Descripcion) 
VALUES (@nombre, @descripcion)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarClientes]

@nombre nchar(100), @direccion nchar(100),@correo nchar(250), @telefono nchar(8)

AS

INSERT INTO Clientes(Nombre,Direccion,Correo,Telefono) 
VALUES (@nombre, @direccion,@correo,@telefono)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleados]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarEmpleados]

@nombre nchar(100), @direccion nchar(250), @correo nchar(75), @fecha date, @LocalID int

AS

INSERT INTO Empleados(Nombre, Direccion, Correo, FechaNacimiento,LocalID) 
VALUES (@nombre, @direccion,@correo, @fecha, @LocalID)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarFacturas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarFacturas]

@fecha date, @impuesto int, @subtotal int,@total int, @EmpleadoID int, @LocalID int, @ClienteID int, @TipoDePagoID int

AS

INSERT INTO Facturas(Fecha, Impuesto,Subtotal, Total, EmpleadoID, LocalID, ClienteID ,TipoDePagoID) 

VALUES (@fecha, @impuesto,@subtotal, @total, @EmpleadoID, @LocalID, @ClienteID ,@TipoDePagoID)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarInventarios]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarInventarios]

@ProductoID int, @LocalID int, @Stock int

AS

INSERT INTO Inventarios(ProductoID, LocalID, Stock) 
VALUES (@ProductoID, @LocalID,@Stock)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarInventarioXLocal]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarInventarioXLocal] @ProductoID int
AS 
BEGIN
    INSERT INTO Inventarios
    SELECT DISTINCT 0, LocalID, @ProductoID FROM Locales
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarInventarioXProducto]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarInventarioXProducto] @LocalID int
AS
BEGIN
    INSERT INTO Inventarios
    SELECT DISTINCT 0, @LocalID, ProductoID FROM Productos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarLocales]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarLocales]

@nombre nchar(100), @direccion nchar(250), @correo nchar(75), @telefono nchar(8)

AS

INSERT INTO Locales(Nombre, Direccion, Correo, Telefono) 
VALUES (@nombre, @direccion,@correo, @telefono)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarMedidas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarMedidas] 

 @nombre nchar(20)

AS

INSERT INTO Medidas(Nombre) 
VALUES (@nombre)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPedidos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarPedidos]

@cantidad int, @precio int,@totalLinea int, @FacturaID int, @ProductoID int

AS

INSERT INTO Pedidos(Cantidad, Precio, TotalLinea, FacturaID, ProductoID) 

VALUES (@cantidad, @precio, @totalLinea,@FacturaID, @ProductoID)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProductos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProductos]

@nombre nchar(45), @precio int,@ProveedorID int, @CategoriaID int, @MedidaID int

AS

INSERT INTO Productos(Nombre, Precio, ProvedorID, CategoriaID, MedidaID) 
VALUES (@nombre, @precio,@ProveedorID, @CategoriaID, @MedidaID)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProveedor]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProveedor] 

@nombre nchar(100),@direccion nchar(250),@correo nchar(75),@telefono nchar(8)

AS

INSERT INTO Proveedores(NombreProveedor, Direccion, Correo, Telefono) 
VALUES ( @nombre, @direccion, @correo, @telefono)
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarTipoDeVenta]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarTipoDeVenta]

@descripcion nchar(100)

AS

INSERT INTO TipoDeVenta(Descripcion) 

VALUES (@descripcion)
GO
/****** Object:  StoredProcedure [dbo].[sp_MaxFacturas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_MaxFacturas]
AS
BEGIN
	select max(FacturaID) from Facturas
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaxLocalesID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MaxLocalesID] 
AS
BEGIN
	select max(LocalID) from Locales
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MaxProductoID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_MaxProductoID] 
AS
BEGIN
	select max(ProductoID) from Productos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarCategorias]

@ID int, @nombre nchar(100), @descripcion nchar(250)

AS

BEGIN

UPDATE Categorias

SET  NombreCategoria = @nombre, Descripcion = @descripcion
WHERE @ID = CategoriaID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarClientes]


@ID int, @nombre nchar(100), @direccion nchar(100),@correo nchar(250), @telefono nchar(8)
AS

BEGIN

UPDATE Clientes

SET  Nombre = @nombre , Direccion = @direccion, Correo = @correo, Telefono = @telefono
WHERE @ID = ClienteID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarEmpleados]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarEmpleados]

@ID int, @nombre nchar(100), @direccion nchar(250), @correo nchar(75), @fecha date, @LocalID int

AS

BEGIN

UPDATE Empleados

SET  Nombre = @nombre , Direccion = @direccion, Correo = @correo , FechaNacimiento = @fecha ,LocalID = @LocalID
WHERE @ID = EmpleadoID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarInventarios]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarInventarios]

@ProductoID int, @LocalID int, @Stock int

AS

BEGIN

UPDATE Inventarios

SET  Stock = @Stock 
WHERE LocalID = @LocalID and ProductoID = @ProductoID 

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarLocales]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarLocales]


@ID int, @nombre nchar(100), @direccion nchar(100),@correo nchar(250), @telefono nchar(8)
AS

BEGIN

UPDATE Locales

SET  Nombre = @nombre , Direccion = @direccion, Correo = @correo, Telefono = @telefono
WHERE @ID = LocalID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarMedidas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarMedidas]

@ID int, @nombre nchar(100)

AS

BEGIN

UPDATE Medidas

SET  Nombre = @nombre 
WHERE @ID = MedidaID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProductos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarProductos]

@ID int, @nombre nchar(45), @precio int ,@ProveedorID int, @CategoriaID int, @MedidaID int

AS

BEGIN

UPDATE Productos

SET Nombre = @Nombre,Precio =  @precio,ProvedorID = @ProveedorID,CategoriaID =  @CategoriaID,MedidaID =  @MedidaID
WHERE ProductoID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarProveedores]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarProveedores]


@ID int, @nombre nchar(100), @direccion nchar(100),@correo nchar(250), @telefono nchar(8)
AS

BEGIN

UPDATE Proveedores

SET  NombreProveedor = @nombre , Direccion = @direccion, Correo = @correo, Telefono = @telefono
WHERE @ID = ProveedorID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarTiposDeVenta]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarTiposDeVenta]

@ID int, @descripcion nchar(100)

AS

BEGIN

UPDATE TipoDeVenta

SET Descripcion = @descripcion
WHERE TipoVentaID = @ID

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ModificarTotalesFacturas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModificarTotalesFacturas]

@ID int, @impuesto int, @subtotal int,@total int

AS

BEGIN

UPDATE Facturas

SET Impuesto = @impuesto , Subtotal = @subtotal, Total = @total

WHERE FacturaID = @ID

END

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarCategorias]

AS

SELECT *

FROM Categorias

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarCategoriasID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarCategoriasID]

@ID int

AS

SELECT *

FROM Categorias

WHERE @ID = CategoriaID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarClientes]

as 

SELECT *

FROM Clientes
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarClientesID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarClientesID]

@ID int

AS

SELECT *

FROM Clientes

WHERE @ID = ClienteID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarEmpleados]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarEmpleados]


AS

SELECT *

FROM Empleados
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarEmpleadosID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarEmpleadosID]

@ID int

AS

SELECT *

FROM Empleados

WHERE @ID = EmpleadoID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarEmpleadosXLocal]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarEmpleadosXLocal] @LocalID int
AS
BEGIN
    SELECT *
    FROM Empleados
    WHERE LocalID = @LocalID
    ORDER BY Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarFacturas]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarFacturas]



AS

SELECT *

FROM Facturas

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarInventarios]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarInventarios]



AS

SELECT *

FROM Inventarios

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarInventarioXLocal]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarInventarioXLocal] @LocalID int
AS
BEGIN
    SELECT P.ProductoID, P.Nombre, C.NombreCategoria, P.Precio, I.Stock
    FROM Categorias C
    INNER JOIN Productos P ON C.CategoriaID = P.CategoriaID
    INNER JOIN Inventarios I ON P.ProductoID = I.ProductoID
    INNER JOIN Locales L ON I.LocalID = L.LocalID
    WHERE L.LocalID = @LocalID
    ORDER BY C.NombreCategoria, P.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarInventarioXProducto]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarInventarioXProducto] @ProductoID int
AS
BEGIN
    SELECT P.ProductoID, P.Nombre, C.NombreCategoria, P.Precio, I.Stock, L.Nombre
    FROM Categorias C
    INNER JOIN Productos P ON C.CategoriaID = P.CategoriaID
    INNER JOIN Inventarios I ON P.ProductoID = I.ProductoID
    INNER JOIN Locales L ON I.LocalID = L.LocalID
    WHERE P.ProductoID = @ProductoID
    ORDER BY I.Stock DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarLocales]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarLocales]


AS

SELECT *

FROM Locales

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarLocalesID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarLocalesID]

@ID int

AS

SELECT *

FROM Locales

WHERE @ID = LocalID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarMedias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarMedias]

AS

SELECT *

FROM Medidas
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarMedidasID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarMedidasID]

@ID int

AS

SELECT *

FROM Medidas

WHERE @ID = MedidaID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarPedidos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarPedidos]



AS

SELECT *

FROM Pedidos

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarPedidosID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarPedidosID]

@ID int

AS

SELECT *

FROM Pedidos

WHERE @ID = PedidoID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarPedidosXFactura]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarPedidosXFactura] @FacturaID int
AS
BEGIN
    SELECT Pd.PedidoID, Pr.Nombre, Pd.Cantidad, Pd.TotalLinea
    FROM Productos Pr
    INNER JOIN Pedidos Pd ON Pd.ProductoID = Pr.ProductoID
    WHERE Pd.FacturaID = @FacturaID
    ORDER BY Pr.Nombre
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarProductos]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarProductos]

AS

SELECT *

FROM Productos
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarProductosID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarProductosID]

@ID int

AS

SELECT *

FROM Productos

WHERE @ID = ProductoID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarProveedores]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarProveedores]



AS

SELECT *

FROM Proveedores

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarProveedoresID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarProveedoresID]

@ID int

AS

SELECT *

FROM Proveedores

WHERE @ID = ProveedorID
GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarTipoDeVenta]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarTipoDeVenta]



AS

SELECT *

FROM TipoDeVenta

GO
/****** Object:  StoredProcedure [dbo].[sp_SeleccionarTipoDeVentaID]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SeleccionarTipoDeVentaID]

@ID int

AS

SELECT *

FROM TipoDeVenta

WHERE @ID = TipoVentaID
GO
/****** Object:  StoredProcedure [dbo].[sp_StockLocalXProducto]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_StockLocalXProducto] @LocalID int, @ProductoID int
AS
BEGIN
    SELECT Stock
    FROM Inventarios
    WHERE LocalID = @LocalID AND ProductoID = @ProductoID
END
GO
/****** Object:  Trigger [dbo].[tr_AgregarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarCategorias] ON [dbo].[Categorias]
FOR INSERT
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Categorias') 
END
GO
ALTER TABLE [dbo].[Categorias] ENABLE TRIGGER [tr_AgregarCategorias]
GO
/****** Object:  Trigger [dbo].[tr_EliminarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarCategorias] ON [dbo].[Categorias]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Categorias') 
END
GO
ALTER TABLE [dbo].[Categorias] ENABLE TRIGGER [tr_EliminarCategorias]
GO
/****** Object:  Trigger [dbo].[tr_ModificarCategorias]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarCategorias] ON [dbo].[Categorias]
FOR UPDATE
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Categorias') 
END
GO
ALTER TABLE [dbo].[Categorias] ENABLE TRIGGER [tr_ModificarCategorias]
GO
/****** Object:  Trigger [dbo].[tr_AgregarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarClientes] ON [dbo].[Clientes]
FOR INSERT
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Clientes')
END
GO
ALTER TABLE [dbo].[Clientes] ENABLE TRIGGER [tr_AgregarClientes]
GO
/****** Object:  Trigger [dbo].[tr_EliminarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarClientes] ON [dbo].[Clientes]
FOR DELETE
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Clientes')
END
GO
ALTER TABLE [dbo].[Clientes] ENABLE TRIGGER [tr_EliminarClientes]
GO
/****** Object:  Trigger [dbo].[tr_ModificarClientes]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarClientes] ON [dbo].[Clientes]
FOR UPDATE
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Clientes')
END
GO
ALTER TABLE [dbo].[Clientes] ENABLE TRIGGER [tr_ModificarClientes]
GO
/****** Object:  Trigger [dbo].[tr_AgregarEmpleado]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarEmpleado] ON [dbo].[Empleados]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Empleados') 
END
GO
ALTER TABLE [dbo].[Empleados] ENABLE TRIGGER [tr_AgregarEmpleado]
GO
/****** Object:  Trigger [dbo].[tr_EliminarEmpleado]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarEmpleado] ON [dbo].[Empleados]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Empleados') 
END
GO
ALTER TABLE [dbo].[Empleados] ENABLE TRIGGER [tr_EliminarEmpleado]
GO
/****** Object:  Trigger [dbo].[tr_ModificarEmpleado]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarEmpleado] ON [dbo].[Empleados]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Empleados') 
END
GO
ALTER TABLE [dbo].[Empleados] ENABLE TRIGGER [tr_ModificarEmpleado]
GO
/****** Object:  Trigger [dbo].[tr_AgregarFactura]    Script Date: 22/6/2021 21:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarFactura] ON [dbo].[Facturas]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Facturas') 
END
GO
ALTER TABLE [dbo].[Facturas] ENABLE TRIGGER [tr_AgregarFactura]
GO
/****** Object:  Trigger [dbo].[tr_EliminarFactura]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarFactura] ON [dbo].[Facturas]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Facturas') 
END
GO
ALTER TABLE [dbo].[Facturas] ENABLE TRIGGER [tr_EliminarFactura]
GO
/****** Object:  Trigger [dbo].[tr_ModificarFactura]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarFactura] ON [dbo].[Facturas]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Facturas') 
END
GO
ALTER TABLE [dbo].[Facturas] ENABLE TRIGGER [tr_ModificarFactura]
GO
/****** Object:  Trigger [dbo].[tr_AgregarInventarios]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarInventarios] ON [dbo].[Inventarios]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Inventarios') 
END
GO
ALTER TABLE [dbo].[Inventarios] ENABLE TRIGGER [tr_AgregarInventarios]
GO
/****** Object:  Trigger [dbo].[tr_EliminarInventarios]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarInventarios] ON [dbo].[Inventarios]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Inventarios') 
END
GO
ALTER TABLE [dbo].[Inventarios] ENABLE TRIGGER [tr_EliminarInventarios]
GO
/****** Object:  Trigger [dbo].[tr_ModificarInventarios]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarInventarios] ON [dbo].[Inventarios]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Inventarios') 
END
GO
ALTER TABLE [dbo].[Inventarios] ENABLE TRIGGER [tr_ModificarInventarios]
GO
/****** Object:  Trigger [dbo].[tr_AgregarLocales]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarLocales] ON [dbo].[Locales]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Locales') 
END
GO
ALTER TABLE [dbo].[Locales] ENABLE TRIGGER [tr_AgregarLocales]
GO
/****** Object:  Trigger [dbo].[tr_EliminarLocales]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarLocales] ON [dbo].[Locales]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Locales') 
END
GO
ALTER TABLE [dbo].[Locales] ENABLE TRIGGER [tr_EliminarLocales]
GO
/****** Object:  Trigger [dbo].[tr_ModificarLocales]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarLocales] ON [dbo].[Locales]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Locales') 
END
GO
ALTER TABLE [dbo].[Locales] ENABLE TRIGGER [tr_ModificarLocales]
GO
/****** Object:  Trigger [dbo].[tr_AgregarMedidas]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarMedidas] ON [dbo].[Medidas]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Medidas') 
END
GO
ALTER TABLE [dbo].[Medidas] ENABLE TRIGGER [tr_AgregarMedidas]
GO
/****** Object:  Trigger [dbo].[tr_EliminarMedidas]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarMedidas] ON [dbo].[Medidas]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Medidas') 
END
GO
ALTER TABLE [dbo].[Medidas] ENABLE TRIGGER [tr_EliminarMedidas]
GO
/****** Object:  Trigger [dbo].[tr_ModificarMedidas]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarMedidas] ON [dbo].[Medidas]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Medidas') 
END
GO
ALTER TABLE [dbo].[Medidas] ENABLE TRIGGER [tr_ModificarMedidas]
GO
/****** Object:  Trigger [dbo].[tr_AgregarPedidos]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarPedidos] ON [dbo].[Pedidos]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Pedidos') 
END
GO
ALTER TABLE [dbo].[Pedidos] ENABLE TRIGGER [tr_AgregarPedidos]
GO
/****** Object:  Trigger [dbo].[tr_EliminarPedidos]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarPedidos] ON [dbo].[Pedidos]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Pedidos') 
END
GO
ALTER TABLE [dbo].[Pedidos] ENABLE TRIGGER [tr_EliminarPedidos]
GO
/****** Object:  Trigger [dbo].[tr_ModificarPedidos]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarPedidos] ON [dbo].[Pedidos]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Pedidos') 
END
GO
ALTER TABLE [dbo].[Pedidos] ENABLE TRIGGER [tr_ModificarPedidos]
GO
/****** Object:  Trigger [dbo].[tr_AgregarProductos]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarProductos] ON [dbo].[Productos]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Productos') 
END
GO
ALTER TABLE [dbo].[Productos] ENABLE TRIGGER [tr_AgregarProductos]
GO
/****** Object:  Trigger [dbo].[tr_EliminarProductos]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarProductos] ON [dbo].[Productos]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Productos') 
END
GO
ALTER TABLE [dbo].[Productos] ENABLE TRIGGER [tr_EliminarProductos]
GO
/****** Object:  Trigger [dbo].[tr_ModificarProductos]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarProductos] ON [dbo].[Productos]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Productos') 
END
GO
ALTER TABLE [dbo].[Productos] ENABLE TRIGGER [tr_ModificarProductos]
GO
/****** Object:  Trigger [dbo].[tr_AgregarProveedores]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_AgregarProveedores] ON [dbo].[Proveedores]
FOR INSERT		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(1, GETDATE(), 1, 'Proveedores') 
END
GO
ALTER TABLE [dbo].[Proveedores] ENABLE TRIGGER [tr_AgregarProveedores]
GO
/****** Object:  Trigger [dbo].[tr_EliminarProveedores]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_EliminarProveedores] ON [dbo].[Proveedores]
FOR DELETE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(3, GETDATE(), 1, 'Proveedores') 
END
GO
ALTER TABLE [dbo].[Proveedores] ENABLE TRIGGER [tr_EliminarProveedores]
GO
/****** Object:  Trigger [dbo].[tr_ModificarProveedores]    Script Date: 22/6/2021 21:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_ModificarProveedores] ON [dbo].[Proveedores]
FOR UPDATE		/* INSERT - UPDATE - DELETE */
NOT FOR REPLICATION
AS

BEGIN
    INSERT INTO Bitacora(ActualizacionID, Fecha, UsuarioID, TablaModificada)
    VALUES(2, GETDATE(), 1, 'Proveedores') 
END
GO
ALTER TABLE [dbo].[Proveedores] ENABLE TRIGGER [tr_ModificarProveedores]
GO
