<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ferreteria.My.MySettings.Conexion" connectionString="Data Source=LAPTOP-41LHBN9I\SQLSERVIDOR;Initial Catalog=FerreteriaLosHermanos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>